<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Textfield Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <script src="../../../../dist/stencil-component-lib.js"></script>
  </head>

  <body>
    <sh-textfield label="Name" placeholder="Enter Name" value="Shripal" maxlength="10" is-required="true"></sh-textfield>
    <script>
      const ele = document.querySelector('sh-textfield');
      ele.config = {size: 2};
      ele.testArray = [1,2,3];
      ele.addEventListener('onChange', (value) => console.log(value));
    </script>
  </body>
</html>
