:host {
  /**
  * @prop --sh-textfield-border-color: Border color of textfield
  */
  --sh-textfield-border-color: lightseagreen;
}

.form-group {
  label {
    display: block;
    color: lightslategrey;
    margin-bottom: 5px;
  }

  input {
    border: 0;
    border-bottom: 1px solid var(--sh-textfield-border-color);
    font-size: 14px;
  }

  input:focus {
    outline: 0;
  }
}
